<%= render "shared/header" %>
<div class='main'>

<%= form_with model: @tenken, class:'create-tenken', local: true do |f| %>
 <div class='create-tenken-form'>
  <%= f.text_field :name, class:'create-tenken-input', placeholder: '点検名を入力してください（例：2021年度　夏期教室点検）' %>
  </div>
<%= f.submit '点検を作成する', class:'new-btn' %>
<% end %>

<div class='tenkens'>
  <% @tenkens.each do |tenken| %>
  <div class='tenken-container'>
    <%= link_to tenken_path(tenken.id), class:'tenken-info' do %>
      <div class=’tenken-name’>
      <%= tenken.name %>
      </div>
      <div class='tenken-user'>
      <%= tenken.user.nickname %>
      </div>
    <% end %>
  </div>
  <% end %>

</div>
</div>
<%= render "shared/footer" %>

