<%= render "shared/header" %>
<div class='main'>

<div class='tenken-detail'>
<div class='tenken-detail-name'>
<%= @tenken.name %>
</div>
<div class= 'tenken-edit-delete'>
<%= link_to '点検名を編集', edit_tenken_path(@tenken.id), class:'tenken-edit-btn' %>
<%= link_to '点検を削除', '#', class:'tenken-delete-btn' %>
</div>
</div>

</div>
<%= render "shared/footer" %>