<%= render "shared/header" %>
<div class='main'>

<div class='tenken-detail'>
<div class='tenken-detail-name'>
<%= @tenken.name %>
</div>
<div class= 'tenken-edit-delete'>
<%= link_to '点検名を編集する', edit_tenken_path(@tenken.id), class:'tenken-edit-btn' %>
<%= link_to '点検を削除する', tenken_path(@tenken.id), method: :delete, class:'tenken-delete-btn' %>
</div>
</div>

<div class='start-tenken'>
<%= link_to "点検を開始", new_tenken_checksheet_path(@tenken.id) %>
</div>

<div class='checksheet-containter'>
<p>対応中・対応完了の教室</p>
<% @checksheets.each do |checksheet| %>
<div class='checksheet-thumbnail'>
<%= link_to checksheet.classroom.number, '#' %>
</div>
<% end %>
</div>

</div>
<%= render "shared/footer" %>